body
{
    text-align: center;
}

.cat-container{
  display: grid;
  grid-template-columns: 500px 500px;
  grid-auto-rows: 20px 500px;
}
.cat1-name{
  grid-column: 1;
  grid-row: 1;
}
.cat1-pic{
  grid-column: 1;
  grid-row: 2;
}
.cat2-name{
  grid-column: 2;
  grid-row: 1;
}
.cat2-pic{
  grid-column: 2;
  grid-row: 2;
}